<section class="text-block">
    <h2 class="text-block__title">Angebot</h2>
    <rts-text-block title="<%= gruppenEinzelnterricht.title %>" text="<%= gruppenEinzelnterricht.text %>">
    </rts-text-block>
    <section>
        <rts-text-block title="<%= gruppeEinzelPreise.title %>" text="<%= gruppeEinzelPreise.text %>"
            prominent="<%= gruppeEinzelPreise.prominent %>">
        </rts-text-block>
    </section>
</section>

<hr>

<section class="text-block">

    <rts-text-block title="<%= anmeldung.title %>" text="<%= anmeldung.text %>">
    </rts-text-block>

    <a class="link text-block__link" href="kontakt">Anmelden</a>
    <hr>
</section>

<section class="section">

    <rts-text-block title="<%= voltegieren.title %>" text="<%= voltegieren.text %>">
    </rts-text-block>

    <rts-text-block title="<%= voltegierPreise.title %>" text="<%= voltegierPreise.text %>"
        prominent="<%= voltegierPreise.prominent %>">
    </rts-text-block>
    <a class="link text-block__link" href="kontakt">Anmelden</a>
</section>